<center>
  <h3>Login</h3>
  <form action="/login" method="post">
    <p><input type="text" name="email" placeholder="Email"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <p><input type="submit" id="submit" value="Submit"></p>
  </form>
  <p>Don't have an account? <a href="/signup">Sign Up.</a></p>
</center>
